:root{
    --custom-background-color:rgb(5, 5, 85);
}
.bg-primary{
    background-color: var(--custom-background-color)!important;
}
.nav-link.active.active{
    background-color:var(--custom-background-color) !important;
}
.btn-primary{
    background-color: var(--custom-background-color)!important;
}
.dropdown-item:active{
    background-color: var(--custom-background-color)!important;
}